Exercise on gathering and cleaning:

In [1]:
link2="https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes"
link3="https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population"

import pandas as pd

data2=pd.read_html(link2,header=1,flavor="bs4",attrs={'class':"wikitable sortable"})
data3=pd.read_html(link3,header=0,flavor="bs4",attrs={'class':"wikitable sortable"})

In [2]:
isodata=data2[0].copy()

In [3]:
isodata.head()

,Country name[5],Official state name[6],Sovereignty[6][7][8],Alpha-2 code[5],Alpha-3 code[5],Numeric code[5],Subdivision code links[3],Internet ccTLD[9]
0,Afghanistan,The Islamic Republic of Afghanistan,UN member state,.mw-parser-output .monospaced{font-family:mono...,AFG,004,ISO 3166-2:AF,.af
1,"Akrotiri and Dhekelia – See United Kingdom, The.","Akrotiri and Dhekelia – See United Kingdom, The.","Akrotiri and Dhekelia – See United Kingdom, The.","Akrotiri and Dhekelia – See United Kingdom, The.","Akrotiri and Dhekelia – See United Kingdom, The.","Akrotiri and Dhekelia – See United Kingdom, The.","Akrotiri and Dhekelia – See United Kingdom, The.","Akrotiri and Dhekelia – See United Kingdom, The."
2,Åland Islands,Åland,Finland,AX,ALA,248,ISO 3166-2:AX,.ax
3,Albania,The Republic of Albania,UN member state,AL,ALB,008,ISO 3166-2:AL,.al
4,Algeria,The People's Democratic Republic of Algeria,UN member state,DZ,DZA,012,ISO 3166-2:DZ,.dz

In [4]:
isodata.columns=isodata.columns.str.replace("\\s|\\[[0-9]+]","",regex=True)
isodata.columns

Index(['Countryname', 'Officialstatename', 'Sovereignty', 'Alpha-2code',
       'Alpha-3code', 'Numericcode', 'Subdivisioncodelinks', 'InternetccTLD'],
      dtype='object')

In [5]:
isodata['Alpha-2code'].str.extract("([A-Z][A-Z])")

       0
0     AF
1    NaN
2     AX
3     AL
4     DZ
..   ...
275   WF
276   EH
277   YE
278   ZM
279   ZW

[280 rows x 1 columns]

In [6]:
isodata["iso2"]=isodata['Alpha-2code'].str.extract("([A-Z][A-Z])")
isodata["iso3"]=isodata['Alpha-3code'].str.extract("([A-Z][A-Z][A-Z])")

In [7]:
isodata.dropna(subset=["iso2","iso3"],inplace=True)
isodata.reset_index(drop=True,inplace=True)
isodata

,Countryname,Officialstatename,Sovereignty,Alpha-2code,Alpha-3code,Numericcode,Subdivisioncodelinks,InternetccTLD,iso2,iso3
0,Afghanistan,The Islamic Republic of Afghanistan,UN member state,.mw-parser-output .monospaced{font-family:mono...,AFG,004,ISO 3166-2:AF,.af,AF,AFG
1,Åland Islands,Åland,Finland,AX,ALA,248,ISO 3166-2:AX,.ax,AX,ALA
2,Albania,The Republic of Albania,UN member state,AL,ALB,008,ISO 3166-2:AL,.al,AL,ALB
3,Algeria,The People's Democratic Republic of Algeria,UN member state,DZ,DZA,012,ISO 3166-2:DZ,.dz,DZ,DZA
4,American Samoa,The Territory of American Samoa,United States,AS,ASM,016,ISO 3166-2:AS,.as,AS,ASM
...,...,...,...,...,...,...,...,...,...,...
243,Wallis and Futuna,The Territory of the Wallis and Futuna Islands,France,WF,WLF,876,ISO 3166-2:WF,.wf,WF,WLF
244,Western Sahara [ah],The Sahrawi Arab Democratic Republic,Disputed [ai],EH,ESH,732,ISO 3166-2:EH,[aj],EH,ESH
245,Yemen,The Republic of Yemen,UN member state,YE,YEM,887,ISO 3166-2:YE,.ye,YE,YEM
246,Zambia,The Republic of Zambia,UN member state,ZM,ZMB,894,ISO 3166-2:ZM,.zm,ZM,ZMB
247,Zimbabwe,The Republic of Zimbabwe,UN member state,ZW,ZWE,716,ISO 3166-2:ZW,.zw,ZW,ZWE

In [8]:
isodata[isodata.InternetccTLD.str.startswith("[")]

,Countryname,Officialstatename,Sovereignty,Alpha-2code,Alpha-3code,Numericcode,Subdivisioncodelinks,InternetccTLD,iso2,iso3
30,Bouvet Island,Bouvet Island,Norway,BV,BVT,074,ISO 3166-2:BV,[d],BV,BVT
212,Svalbard Jan Mayen,Svalbard and Jan Mayen,Norway,SJ,SJM,744,ISO 3166-2:SJ,[w],SJ,SJM
234,United States Minor Outlying Islands (the) [ac],"Baker Island, Howland Island, Jarvis Island, J...",United States,UM,UMI,581,ISO 3166-2:UM,[ad],UM,UMI
244,Western Sahara [ah],The Sahrawi Arab Democratic Republic,Disputed [ai],EH,ESH,732,ISO 3166-2:EH,[aj],EH,ESH

In [9]:
isodata[isodata.InternetccTLD.str.match("(.[a-z][a-z]\\s.[a-z][a-z])")]

,Countryname,Officialstatename,Sovereignty,Alpha-2code,Alpha-3code,Numericcode,Subdivisioncodelinks,InternetccTLD,iso2,iso3
27,Bonaire Sint Eustatius Saba,"Bonaire, Sint Eustatius and Saba",Netherlands,BQ,BES,535,ISO 3166-2:BQ,.bq .nl [c],BQ,BES
233,United Kingdom of Great Britain and Northern I...,The United Kingdom of Great Britain and Northe...,UN member state,GB,GBR,826,ISO 3166-2:GB,.gb .uk [ab],GB,GBR

In [10]:
isodata.loc[isodata.InternetccTLD.str.startswith("["),"InternetccTLD"]

30      [d]
212     [w]
234    [ad]
244    [aj]
Name: InternetccTLD, dtype: object

In [11]:
isodata.loc[isodata.InternetccTLD.str.match("(.[a-z][a-z]\\s.[a-z][a-z])"),"InternetccTLD"]

27      .bq .nl [c]
233    .gb .uk [ab]
Name: InternetccTLD, dtype: object

In [12]:
isodata.loc[isodata.InternetccTLD.str.match("(.[a-z][a-z]\\s.[a-z][a-z])"),"InternetccTLD"]=['.nl','.uk']

In [13]:
isodata.loc[isodata.InternetccTLD.str.startswith("["),"InternetccTLD"]=None

In [14]:
isodata.loc[[30,212,234,244],:]

,Countryname,Officialstatename,Sovereignty,Alpha-2code,Alpha-3code,Numericcode,Subdivisioncodelinks,InternetccTLD,iso2,iso3
30,Bouvet Island,Bouvet Island,Norway,BV,BVT,074,ISO 3166-2:BV,None,BV,BVT
212,Svalbard Jan Mayen,Svalbard and Jan Mayen,Norway,SJ,SJM,744,ISO 3166-2:SJ,None,SJ,SJM
234,United States Minor Outlying Islands (the) [ac],"Baker Island, Howland Island, Jarvis Island, J...",United States,UM,UMI,581,ISO 3166-2:UM,None,UM,UMI
244,Western Sahara [ah],The Sahrawi Arab Democratic Republic,Disputed [ai],EH,ESH,732,ISO 3166-2:EH,None,EH,ESH

In [15]:
isodata.loc[[27,233],:]

,Countryname,Officialstatename,Sovereignty,Alpha-2code,Alpha-3code,Numericcode,Subdivisioncodelinks,InternetccTLD,iso2,iso3
27,Bonaire Sint Eustatius Saba,"Bonaire, Sint Eustatius and Saba",Netherlands,BQ,BES,535,ISO 3166-2:BQ,.nl,BQ,BES
233,United Kingdom of Great Britain and Northern I...,The United Kingdom of Great Britain and Northe...,UN member state,GB,GBR,826,ISO 3166-2:GB,.uk,GB,GBR

In [16]:
whichToDrop=range(2,7)
isodata.drop(labels=isodata.columns[whichToDrop],axis=1,inplace=True)

In [17]:
isodata.to_csv("isodata,csv",index=False)
isodata

,Countryname,Officialstatename,InternetccTLD,iso2,iso3
0,Afghanistan,The Islamic Republic of Afghanistan,.af,AF,AFG
1,Åland Islands,Åland,.ax,AX,ALA
2,Albania,The Republic of Albania,.al,AL,ALB
3,Algeria,The People's Democratic Republic of Algeria,.dz,DZ,DZA
4,American Samoa,The Territory of American Samoa,.as,AS,ASM
...,...,...,...,...,...
243,Wallis and Futuna,The Territory of the Wallis and Futuna Islands,.wf,WF,WLF
244,Western Sahara [ah],The Sahrawi Arab Democratic Republic,None,EH,ESH
245,Yemen,The Republic of Yemen,.ye,YE,YEM
246,Zambia,The Republic of Zambia,.zm,ZM,ZMB
247,Zimbabwe,The Republic of Zimbabwe,.zw,ZW,ZWE

In [51]:
regiondata=data3[0].copy()
regiondata.head()

,Rank,Country / Dependency,Region,Population,% of world,Date,Source (official or from the United Nations),Notes
0,–,NaN,World,7923476000,NaN,16 Jan 2022,UN projection[1],NaN
1,1,China,Asia,1411778724,17.8%,1 Nov 2020,2020 census result[2],"The census figure refers to mainland China, ex..."
2,2,India,Asia,1386866394,17.5%,16 Jan 2022,National population clock[3],The figure includes the population of India-ad...
3,3,United States,Americas,333061898,4.20%,16 Jan 2022,National population clock[4],Includes the 50 states and the District of Col...
4,4,Indonesia[b],Asia,271350000,3.42%,31 Dec 2020,National annual estimate[5],NaN

In [52]:
WhichToDrop=list(set(range(8))-set([1,2]))
WhichToDrop

[0, 3, 4, 5, 6, 7]

In [53]:
regiondata.drop(labels=regiondata.columns[WhichToDrop],axis=1,inplace=True)
regiondata

                    Country / Dependency    Region
0                                    NaN     World
1                                  China      Asia
2                                  India      Asia
3                          United States  Americas
4                           Indonesia[b]      Asia
..                                   ...       ...
237                   Niue (New Zealand)   Oceania
238                Tokelau (New Zealand)   Oceania
239                         Vatican City    Europe
240  Cocos (Keeling) Islands (Australia)   Oceania
241    Pitcairn Islands (United Kingdom)   Oceania

[242 rows x 2 columns]

In [54]:
regiondata.Region.value_counts()

Africa      56
Asia        55
Europe      52
Americas    51
Oceania     27
World        1
Name: Region, dtype: int64

In [55]:
regiondata=regiondata[regiondata.Region!="World"]
regiondata.reset_index(drop=True,inplace=True)
regiondata

                    Country / Dependency    Region
0                                  China      Asia
1                                  India      Asia
2                          United States  Americas
3                           Indonesia[b]      Asia
4                               Pakistan      Asia
..                                   ...       ...
236                   Niue (New Zealand)   Oceania
237                Tokelau (New Zealand)   Oceania
238                         Vatican City    Europe
239  Cocos (Keeling) Islands (Australia)   Oceania
240    Pitcairn Islands (United Kingdom)   Oceania

[241 rows x 2 columns]

In [56]:
regiondata.rename(columns={regiondata.columns.to_list()[0]:"Country"},inplace=True)

/Users/JoseManuel/anaconda3/envs/Evans_GovAnalytics/lib/python3.7/site-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [57]:
regiondata[regiondata["Country"].str.endswith("]")]

           Country  Region
3     Indonesia[b]    Asia
8        Russia[b]  Europe
13        Egypt[b]  Africa
17       Turkey[b]    Asia
62   Kazakhstan[b]    Asia
90   Azerbaijan[b]    Asia
130     Georgia[b]    Asia
161      Cyprus[c]    Asia

In [58]:
regiondata.Country=regiondata.Country.str.replace("(\\[[a-z]\\])","",regex=True)

/Users/JoseManuel/anaconda3/envs/Evans_GovAnalytics/lib/python3.7/site-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [59]:
regiondata[['Country', 'CountryMain']] = regiondata['Country'].str.split('(', 1, expand=True)

/Users/JoseManuel/anaconda3/envs/Evans_GovAnalytics/lib/python3.7/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [64]:
#regiondata[regiondata.CountryMain]
regiondata[~pd.isna(regiondata.CountryMain)]

,Country,Region,CountryMain
102,Hong Kong,Asia,China)
135,Puerto Rico,Americas,United States)
166,Macau,Asia,China)
182,French Polynesia,Oceania,France)
183,New Caledonia,Oceania,France)
188,Guam,Oceania,United States)
189,Curaçao,Americas,Netherlands)
193,Aruba,Americas,Netherlands)
195,Jersey,Europe,British Crown Dependency)
197,U.S. Virgin Islands,Americas,United States)
201,Isle of Man,Europe,British Crown Dependency)
204,Cayman Islands,Americas,United Kingdom)
205,Bermuda,Americas,United Kingdom)
206,Guernsey,Europe,British Crown Dependency)
207,American Samoa,Oceania,United States)
208,Northern Mariana Islands,Oceania,United States)
209,Greenland,Americas,Denmark)
213,Faroe Islands,Europe,Denmark)
214,Turks and Caicos Islands,Americas,United Kingdom)
215,Sint Maarten,Americas,Netherlands)
218,Saint Martin,Americas,France)
219,Gibraltar,Europe,United Kingdom)
221,Åland,Europe,Finland)
222,British Virgin Islands,Americas,United Kingdom)
224,Cook Islands,Oceania,New Zealand)
225,Anguilla,Americas,United Kingdom)
227,Wallis and Futuna,Oceania,France)
229,Saint Barthélemy,Americas,France)
230,"Saint Helena, Ascension and Tristan da Cunha",Africa,United Kingdom)
231,Saint Pierre and Miquelon,Americas,France)
232,Montserrat,Americas,United Kingdom)
233,Falkland Islands,Americas,United Kingdom)
234,Christmas Island,Oceania,Australia)
235,Norfolk Island,Oceania,Australia)
236,Niue,Oceania,New Zealand)
237,Tokelau,Oceania,New Zealand)
239,Cocos,Oceania,Keeling) Islands (Australia)
240,Pitcairn Islands,Oceania,United Kingdom)

In [68]:
regiondata.CountryMain=regiondata.CountryMain.str.replace(")","")

/Users/JoseManuel/anaconda3/envs/Evans_GovAnalytics/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.
/Users/JoseManuel/anaconda3/envs/Evans_GovAnalytics/lib/python3.7/site-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [78]:
regiondata

               Country    Region     CountryMain
0                China      Asia            None
1                India      Asia            None
2        United States  Americas            None
3            Indonesia      Asia            None
4             Pakistan      Asia            None
..                 ...       ...             ...
236              Niue    Oceania     New Zealand
237           Tokelau    Oceania     New Zealand
238       Vatican City    Europe            None
239      Cocos Islands   Oceania       Australia
240  Pitcairn Islands    Oceania  United Kingdom

[241 rows x 3 columns]

In [74]:
regiondata.loc[239,"Country"]="Cocos Islands"

In [75]:
regiondata.iloc[239,0]

'Cocos Islands'

In [76]:
regiondata.loc[239,"CountryMain"]="Australia"

In [77]:
regiondata.iloc[239,2]

'Australia'

In [89]:
regiondata.loc[236,"Country"]

'Niue '

In [90]:
regiondata=regiondata.apply(lambda x: x.str.strip())

In [91]:
regiondata.loc[236,"Country"]

'Niue'

In [93]:
regiondata.to_csv("regiondata.csv",index=False)