In [1]:
import pandas as pd

link3="https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population"
data3=pd.read_html(link3,header=0,flavor="bs4",attrs={'class':"wikitable sortable"})

In [2]:
regiondata=data3[0].copy()
regiondata.head()

,Rank,Country / Dependency,Region,Population,% of world,Date,Source (official or from the United Nations),Notes
0,–,NaN,World,7923476000,NaN,16 Jan 2022,UN projection[1],NaN
1,1,China,Asia,1411778724,17.8%,1 Nov 2020,2020 census result[2],"The census figure refers to mainland China, ex..."
2,2,India,Asia,1386866394,17.5%,16 Jan 2022,National population clock[3],The figure includes the population of India-ad...
3,3,United States,Americas,333061898,4.20%,16 Jan 2022,National population clock[4],Includes the 50 states and the District of Col...
4,4,Indonesia[b],Asia,271350000,3.42%,31 Dec 2020,National annual estimate[5],NaN

In [3]:
WhichToDrop=list(set(range(8))-set([1,2]))
WhichToDrop

[0, 3, 4, 5, 6, 7]

In [4]:
regiondata.drop(labels=regiondata.columns[WhichToDrop],axis=1,inplace=True)
regiondata

                    Country / Dependency    Region
0                                    NaN     World
1                                  China      Asia
2                                  India      Asia
3                          United States  Americas
4                           Indonesia[b]      Asia
..                                   ...       ...
237                   Niue (New Zealand)   Oceania
238                Tokelau (New Zealand)   Oceania
239                         Vatican City    Europe
240  Cocos (Keeling) Islands (Australia)   Oceania
241    Pitcairn Islands (United Kingdom)   Oceania

[242 rows x 2 columns]

In [5]:
regiondata.Region.value_counts()

Africa      56
Asia        55
Europe      52
Americas    51
Oceania     27
World        1
Name: Region, dtype: int64

In [6]:
regiondata=regiondata[regiondata.Region!="World"]
regiondata.reset_index(drop=True,inplace=True)
regiondata

                    Country / Dependency    Region
0                                  China      Asia
1                                  India      Asia
2                          United States  Americas
3                           Indonesia[b]      Asia
4                               Pakistan      Asia
..                                   ...       ...
236                   Niue (New Zealand)   Oceania
237                Tokelau (New Zealand)   Oceania
238                         Vatican City    Europe
239  Cocos (Keeling) Islands (Australia)   Oceania
240    Pitcairn Islands (United Kingdom)   Oceania

[241 rows x 2 columns]

In [7]:
regiondata.columns=["Country","Region"]

In [8]:
regiondata[regiondata["Country"].str.endswith("]")]

           Country  Region
3     Indonesia[b]    Asia
8        Russia[b]  Europe
13        Egypt[b]  Africa
17       Turkey[b]    Asia
62   Kazakhstan[b]    Asia
90   Azerbaijan[b]    Asia
130     Georgia[b]    Asia
161      Cyprus[c]    Asia

In [9]:
regiondata.Country=regiondata.Country.str.replace("\\[.+?\\]","",regex=True)

/Users/JoseManuel/anaconda3/envs/Evans_GovAnalytics/lib/python3.7/site-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [10]:
regiondata[['Country', 'CountryMain']] = regiondata['Country'].str.split('(', 1, expand=True)

/Users/JoseManuel/anaconda3/envs/Evans_GovAnalytics/lib/python3.7/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [11]:
#regiondata[regiondata.CountryMain]
regiondata[~pd.isna(regiondata.CountryMain)]

,Country,Region,CountryMain
102,Hong Kong,Asia,China)
135,Puerto Rico,Americas,United States)
166,Macau,Asia,China)
182,French Polynesia,Oceania,France)
183,New Caledonia,Oceania,France)
188,Guam,Oceania,United States)
189,Curaçao,Americas,Netherlands)
193,Aruba,Americas,Netherlands)
195,Jersey,Europe,British Crown Dependency)
197,U.S. Virgin Islands,Americas,United States)
201,Isle of Man,Europe,British Crown Dependency)
204,Cayman Islands,Americas,United Kingdom)
205,Bermuda,Americas,United Kingdom)
206,Guernsey,Europe,British Crown Dependency)
207,American Samoa,Oceania,United States)
208,Northern Mariana Islands,Oceania,United States)
209,Greenland,Americas,Denmark)
213,Faroe Islands,Europe,Denmark)
214,Turks and Caicos Islands,Americas,United Kingdom)
215,Sint Maarten,Americas,Netherlands)
218,Saint Martin,Americas,France)
219,Gibraltar,Europe,United Kingdom)
221,Åland,Europe,Finland)
222,British Virgin Islands,Americas,United Kingdom)
224,Cook Islands,Oceania,New Zealand)
225,Anguilla,Americas,United Kingdom)
227,Wallis and Futuna,Oceania,France)
229,Saint Barthélemy,Americas,France)
230,"Saint Helena, Ascension and Tristan da Cunha",Africa,United Kingdom)
231,Saint Pierre and Miquelon,Americas,France)
232,Montserrat,Americas,United Kingdom)
233,Falkland Islands,Americas,United Kingdom)
234,Christmas Island,Oceania,Australia)
235,Norfolk Island,Oceania,Australia)
236,Niue,Oceania,New Zealand)
237,Tokelau,Oceania,New Zealand)
239,Cocos,Oceania,Keeling) Islands (Australia)
240,Pitcairn Islands,Oceania,United Kingdom)

In [12]:
regiondata.CountryMain=regiondata.CountryMain.str.replace(")","",regex=False)

/Users/JoseManuel/anaconda3/envs/Evans_GovAnalytics/lib/python3.7/site-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [13]:
regiondata

               Country    Region                 CountryMain
0                China      Asia                        None
1                India      Asia                        None
2        United States  Americas                        None
3            Indonesia      Asia                        None
4             Pakistan      Asia                        None
..                 ...       ...                         ...
236              Niue    Oceania                 New Zealand
237           Tokelau    Oceania                 New Zealand
238       Vatican City    Europe                        None
239             Cocos    Oceania  Keeling Islands (Australia
240  Pitcairn Islands    Oceania              United Kingdom

[241 rows x 3 columns]

In [14]:
regiondata.loc[239,"Country"]="Cocos Islands"

/Users/JoseManuel/anaconda3/envs/Evans_GovAnalytics/lib/python3.7/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/Users/JoseManuel/anaconda3/envs/Evans_GovAnalytics/lib/python3.7/site-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [15]:
regiondata.iloc[239,0]

'Cocos Islands'

In [16]:
regiondata.loc[239,"CountryMain"]="Australia"

In [17]:
regiondata.iloc[239,2]

'Australia'

In [18]:
regiondata.loc[229,"Country"]

'Saint Barthélemy '

In [19]:
regiondata=regiondata.apply(lambda x: x.str.strip())

In [20]:
regiondata.loc[236,"Country"]

'Niue'

In [21]:
regiondata.to_csv("regiondata.csv",index=False)

In [22]:
allDataFull=pd.read_csv("https://github.com/EvansDataScience/CTforGA_integrating/raw/main/allDataFull.csv")
allDataFull

,Country,Regimetype,Overallscore,Electoralprocessandpluralism,Functioningofgovernment,Politicalparticipation,Politicalculture,Civilliberties,Officialstatename,InternetccTLD,iso2,iso3
0,Norway,Full democracy,9.81,10.00,9.64,10.00,10.00,9.41,The Kingdom of Norway,.no,NO,NOR
1,Iceland,Full democracy,9.37,10.00,8.57,8.89,10.00,9.41,Iceland,.is,IS,ISL
2,Sweden,Full democracy,9.26,9.58,9.29,8.33,10.00,9.12,The Kingdom of Sweden,.se,SE,SWE
3,New Zealand,Full democracy,9.25,10.00,8.93,8.89,8.75,9.71,New Zealand,.nz,NZ,NZL
4,Canada,Full democracy,9.24,9.58,8.93,8.89,9.38,9.41,Canada,.ca,CA,CAN
...,...,...,...,...,...,...,...,...,...,...,...,...
162,Chad,Authoritarian,1.55,0.00,0.00,1.67,3.75,2.35,The Republic of Chad,.td,TD,TCD
163,Syria,Authoritarian,1.43,0.00,0.00,2.78,4.38,0.00,The Syrian Arab Republic,.sy,SY,SYR
164,Central African Republic,Authoritarian,1.32,1.25,0.00,1.11,1.88,2.35,The Central African Republic,.cf,CF,CAF
165,Democratic Republic of the Congo,Authoritarian,1.13,0.00,0.00,1.67,3.13,0.88,The Democratic Republic of the Congo,.cd,CD,COD
166,North Korea,Authoritarian,1.08,0.00,2.50,1.67,1.25,0.00,The Democratic People's Republic of Korea,.kp,KP,PRK

In [23]:
leftCountry=set(allDataFull.Country)
len(leftCountry)

167

In [24]:
rightCountry=set(regiondata.Country)

In [25]:
len(leftCountry.intersection(rightCountry))

164

In [26]:
UnmatchedLeft=list(leftCountry.difference(rightCountry))
UnmatchedLeft

['Timor-Leste', 'Democratic Republic of the Congo', 'Republic of the Congo']

In [27]:
UnmatchedRight=list(rightCountry.difference(leftCountry))
UnmatchedRight

['Åland',
 'Northern Cyprus',
 'Cayman Islands',
 'Gibraltar',
 'Aruba',
 'Tokelau',
 'Solomon Islands',
 'Montserrat',
 'Vanuatu',
 'Barbados',
 'Macau',
 'Saint Barthélemy',
 'Nauru',
 'Saint Martin',
 'Saint Pierre and Miquelon',
 'U.S. Virgin Islands',
 'Saint Helena, Ascension and Tristan da Cunha',
 'Belize',
 'Grenada',
 'Liechtenstein',
 'São Tomé and Príncipe',
 'Turks and Caicos Islands',
 'Anguilla',
 'Puerto Rico',
 'San Marino',
 'Jersey',
 'Isle of Man',
 'Cocos Islands',
 'Faroe Islands',
 'Falkland Islands',
 'South Ossetia',
 'Brunei',
 'Christmas Island',
 'Tuvalu',
 'Seychelles',
 'Saint Kitts and Nevis',
 'Marshall Islands',
 'Curaçao',
 'Bermuda',
 'Guernsey',
 'Wallis and Futuna',
 'Greenland',
 'Saint Lucia',
 'Norfolk Island',
 'French Polynesia',
 'New Caledonia',
 'British Virgin Islands',
 'American Samoa',
 'Antigua and Barbuda',
 'Saint Vincent and the Grenadines',
 'Northern Mariana Islands',
 'Dominica',
 'Somalia',
 'Kiribati',
 'Bahamas',
 'Monaco',
 'South Sudan',
 'Palau',
 'Micronesia',
 'Andorra',
 'Guam',
 'Republic of Artsakh',
 'Niue',
 'Western Sahara',
 'Kosovo',
 'Tonga',
 'Vatican City',
 'Maldives',
 'Abkhazia',
 'Samoa',
 'Transnistria',
 'Pitcairn Islands',
 'East Timor',
 'DR Congo',
 'Congo',
 'Cook Islands',
 'Sint Maarten']

In [28]:
from thefuzz import process
[(process.extract(left, UnmatchedRight,limit=2),left) for left in UnmatchedLeft]

[([('East Timor', 82), ('Liechtenstein', 48)], 'Timor-Leste'),
 ([('Congo', 90), ('Isle of Man', 86)], 'Democratic Republic of the Congo'),
 ([('Congo', 90), ('Isle of Man', 86)], 'Republic of the Congo')]

In [29]:
changesRight={'DR Congo':'Democratic Republic of the Congo',
'Congo':'Republic of the Congo',
'East Timor':'Timor-Leste'}


regiondata.Country.replace(changesRight,inplace=True)

In [30]:
allDataFull=allDataFull.merge(regiondata,how='outer',indicator='True')
allDataFull['True'].value_counts()

both          167
right_only     74
left_only       0
Name: True, dtype: int64

In [31]:
allDataFull=allDataFull[allDataFull['True']=='both']

In [32]:
allDataFull.drop(["CountryMain",'True','Officialstatename'],axis=1,inplace=True)

In [33]:
allDataFull

,Country,Regimetype,Overallscore,Electoralprocessandpluralism,Functioningofgovernment,Politicalparticipation,Politicalculture,Civilliberties,Officialstatename,InternetccTLD,iso2,iso3,Region
0,Norway,Full democracy,9.81,10.00,9.64,10.00,10.00,9.41,The Kingdom of Norway,.no,NO,NOR,Europe
1,Iceland,Full democracy,9.37,10.00,8.57,8.89,10.00,9.41,Iceland,.is,IS,ISL,Europe
2,Sweden,Full democracy,9.26,9.58,9.29,8.33,10.00,9.12,The Kingdom of Sweden,.se,SE,SWE,Europe
3,New Zealand,Full democracy,9.25,10.00,8.93,8.89,8.75,9.71,New Zealand,.nz,NZ,NZL,Oceania
4,Canada,Full democracy,9.24,9.58,8.93,8.89,9.38,9.41,Canada,.ca,CA,CAN,Americas
...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,Chad,Authoritarian,1.55,0.00,0.00,1.67,3.75,2.35,The Republic of Chad,.td,TD,TCD,Africa
163,Syria,Authoritarian,1.43,0.00,0.00,2.78,4.38,0.00,The Syrian Arab Republic,.sy,SY,SYR,Asia
164,Central African Republic,Authoritarian,1.32,1.25,0.00,1.11,1.88,2.35,The Central African Republic,.cf,CF,CAF,Africa
165,Democratic Republic of the Congo,Authoritarian,1.13,0.00,0.00,1.67,3.13,0.88,The Democratic Republic of the Congo,.cd,CD,COD,Africa
166,North Korea,Authoritarian,1.08,0.00,2.50,1.67,1.25,0.00,The Democratic People's Republic of Korea,.kp,KP,PRK,Asia

In [34]:
allDataFull.to_csv('allDataFull.csv', index=False)